a.out
hello
.vscode
hello.dSYM
arrays/vector
arrays/vector.dSYM/Contents/Info.plist
arrays/vector.dSYM/Contents/Resources/DWARF/vector
lists/sLinkedList
lists/sLinkedList.dSYM/Contents/Info.plist
lists/sLinkedList.dSYM/Contents/Resources/DWARF/sLinkedList
lists/sLinkedList.o
hashtable
hashtable.dSYM/Contents/Info.plist
